[flake8]
max-line-length = 120
show-source = true
statistics = true
inline-quotes="
extend-exclude =
    venv*,
    .git,
    drafts,
    *migrations*,
    .*
ignore =
    # Line break occurred after a binary operator
    W504,
    # Missing docstrings
    D100,D101,D102,D103,D104,D105,D106,D107,
    # First line should be in imperative mood
    D401
per-file-ignores =
    # XXX imported but unused
    */infrastructure/db/base_models.py:F401,
    # First argument of a method should be named 'self'
    */core/**.py:N805,
    */integrations/notifications/schemas.py:N805,
    ./tests/functional/settings.py:N805,
    # Change outer quotes to avoid escaping inner quotes
    src/auth/api/v1/namespaces.py:Q003
